<h3>Scores for <%= @project.name -%></h3>

<% @score_groups.each do |group| -%>
<p><strong><%= group.name -%></strong> -

<% value = group.project_score_value(@project) %>
<%= Score.option_name_for(value) -%> (<%= value -%>)

</p>
<% end -%>

<p><%= link_to "Edit", :controller => 'scores', :action => 'edit', :id => @project -%></p>

